<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BIS programm</title>
	<link rel="stylesheet" href="stylesheet.css">
</head>

<body>
		<div class="navbar">
			<div class="left-links">
				<ul>
					<li><a href="#">Home</a></li>
					<li class="drop"><a href="#">degree</a>
						<ul>
							<li><a href="#">stage one</a></li>
							<li><a href="#">stage two</a></li>
							<li><a href="#">stage three</a></li>
							<li><a href="#">stage four</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="right-links">
				<ul>
					<li><a href="#"> sign in</a></li>
					<li><a href="">Register</a></li>
				</ul>
			</div>
		</div>
	<section class="first">
		<div class="text1">
			<h1>About Bis program</h1>
			<p>
				It is the abbreviation for Business Information Systems. It is an academic study
				program that aims to blend information systems and technology sciences with financial and
				commercial sciences. The study in the program includes a unique combination of the most
				important and most important courses that keep pace with the needs of the labor market
				locally, regionally and globally in the fields of information technology and
				business.
			</p>
		</div>
		<img src="img1.jpg" alt="" />
	</section>
	<section class="sec">
		<div class="text2">
			<h1>Available fields of work for a graduate of the (BIS) program</h1>
			<p>
				Graduates of the Business Information Systems (BIS) program are distinguished for qualifying them
				for many
				different job opportunities in the local, regional and global labor markets. As the program
				provides a strong background in the commercial fields, and qualifies the learner to work in
				professions
				related to information and communication technology, which have become a feature of this era.
				The graduate of the program also has opportunities that qualify him to work in the following
				professional specializations in the labor market
				1001101001 -
				Analysis and design of administrative and accounting systems in various economic activities
				- Design of information networks
				- Work in technology companies, the banking sector, insurance companies, the tax authority and all
				parties
				government
				- Design and programming of administrative accounting applications and websites
				- Creation of specialized databases
				- Specialized electronic accounting
			</p>
		</div>
		<img src="img5.jpg" alt="">
	</section>
	<section class="third">
		<div class="text3">
			<h1>Business Information Systems (BIS) Program Objectives</h1>
			<p>
				The Business Information Systems (BIS) program with the credit hour system
				represents a new vision and mission in university education in public universities to
				make a quantum leap for public university education in Egypt towards quality and
				accreditation in colleges with large numbers on the one hand, and to break into the field
				of competitiveness at the regional and global levels on the other hand. The program
				seeks to achieve compatibility between the requirements of the labor market by preparing
				a distinguished graduate for the labor market who is able to mix the disciplines of
				information systems and financial and commercial sciences
			</p>
		</div>
		<img src="img4.jpg" alt="">
	</section>
	<hr>
	<section class="fourth">
		<div class="left">
			<h4>Step into the future, don't miss the opportunity</h4>
		</div>
		<div class="right">
			<input type="search" placeholder="what's in your mind">
			<button>search</button>
		</div>
	</section>
	<section class="fifth">
		<div class="left">
			<ul>
				<li><img src="img2.jpg" alt="logo"></li>
				<li>
					<svg width="18" height="18" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M17 12.5c-1.2 0-2.4-.2-3.6-.6-.3-.1-.7 0-1 .2l-2.2 2.2c-2.8-1.4-5.1-3.8-6.6-6.6l2.2-2.2c.3-.3.4-.7.2-1-.3-1.1-.5-2.3-.5-3.5 0-.6-.4-1-1-1H1C.4 0 0 .4 0 1c0 9.4 7.6 17 17 17 .6 0 1-.4 1-1v-3.5c0-.6-.4-1-1-1zM16 9h2c0-5-4-9-9-9v2c3.9 0 7 3.1 7 7zm-4 0h2c0-2.8-2.2-5-5-5v2c1.7 0 3 1.3 3 3z"
							fill="#FFF" fill-rule="evenodd" />
					</svg>
					<span>phone:+1-543-123-4567</span>
				</li>
				<li>
					<svg width="20" height="16" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M18 0H2C.9 0 0 .9 0 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2zm0 14h-2V5.2L10 9 4 5.2V14H2V2h1.2L10 6.2 16.8 2H18v12z"
							fill="#FFF" fill-rule="evenodd" />
					</svg>
					<span>bisprogram@gmail.com</span>
				</li>
			</ul>
		</div>
		<div class="mid">
			<ul>
				<li><a href="#"> about us</a></li>
				<li><a href="#"> press</a></li>
				<li><a href="#"> Blog</a></li>
			</ul>
		</div>
		<div class="right">
			<ul>
				<li><a href="#"> contact</a></li>
				<li><a href="#"> terms</a></li>
				<li><a href="#"> Privacy</a></li>
			</ul>
		</div>
		<div class="copyright">
			<p>Copyright &copy; 2023 - All Rights Reserved - <a href="#">BIS Programm</a></p>
		</div>
	</section>



</body>

</html>